# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyd

# Virtual Environment
.venv/
venv/
ENV/
env/

# VSCode Settings
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs and local data
*.log
*.db
*.sqlite3

# PyTorch cache and model files
*.pt
*.pth
*.ckpt

# PyTorch Hub cache
~/.cache/torch/
.cache/torch/

# MacOS
.DS_Store

# dotenv
.env
.env.*

# Test reports
htmlcov/
coverage.xml
*.*
